<!-- filepath: /C:/Users/piotr/Python/best/sekretarz_app/templates/index.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usprawiedliwiacz</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <script>
        function toggleDateInputs() {
            const singleDate = document.getElementById('single-date');
            const rangeDates = document.getElementById('range-dates');
            if (document.getElementById('single').checked) {
                singleDate.style.display = 'flex';
                rangeDates.style.display = 'none';
            } else {
                singleDate.style.display = 'none';
                rangeDates.style.display = 'flex';
            }
        }

        function showAddProjectForm() {
            document.getElementById('add-project-form').style.display = 'block';
        }

        function hideAddProjectForm() {
            const projectName = document.getElementById('new-project-name').value;
            const projectDescription = document.getElementById('new-project-description').value;
            if (!projectName && !projectDescription) {
                document.getElementById('add-project-form').style.display = 'none';
            }
        }
        
        function addProject() {
            const projectName = document.getElementById('new-project-name').value;
            const projectDescription = document.getElementById('new-project-description').value;
        
            if (projectName && projectDescription) {
                fetch('/add_project', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        name: projectName,
                        description: projectDescription
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Projekt został dodany!');
                        document.getElementById('add-project-form').style.display = 'none';
                        const projectDropdown = document.getElementById('project-dropdown');
                        const newOption = document.createElement('option');
                        newOption.value = projectName.toLowerCase();
                        newOption.text = projectName;
                        projectDropdown.add(newOption);
                    } else {
                        alert('Wystąpił błąd podczas dodawania projektu.');
                    }
                });
            } else {
                alert('Proszę wypełnić wszystkie pola.');
            }
        }
    </script>
</head>
<body>
    <div class=background>
        <div class="content">
            <div class="header">
                <img src="static/text.gif" alt="Sekretarz5000" class="logo">
                <p>Popatrz sobie na kwiatki, zanim Cię popierdoli.</p>
            </div>
        <div class="container">
            <div class="form-container">
                <form action="{{ url_for('upload_and_submit') }}" method="post" enctype="multipart/form-data">
                    <label for="file">Wybierz plik:</label>
                    <input type="file" name="file" accept=".xlsx,.xls,.csv">
                    <br>
                    <label for="project-dropdown">Projekt:</label>
                    <select name="project-dropdown" id="project-dropdown">
                        {% for project_name, project_description in projects.items() %}
                            <option value="{{ project_name|lower }}">{{ project_name }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label>
                        <input type="radio" name="date_option" value="single" id="single" onclick="toggleDateInputs()" checked> Jedna data
                    </label>
                    <label>
                        <input type="radio" name="date_option" value="range" id="range" onclick="toggleDateInputs()"> Zakres dat
                    </label>
                    <br>
                    <div id="single-date">
                        <input type="date" name="date" id="date">
                    </div>
                    <div id="range-dates" style="display:none;" class="date-inputs">
                        <input type="date" name="start_date" id="start_date">
                        <br>
                        <input type="date" name="end_date" id="end_date">
                    </div>
                    <br>
                    <input type="submit" value="Zatwierdź">
                </form>
            </div>
        </div>
        <div class="button-container">
            <button onclick="showAddProjectForm()" id="newprojbutton">Dodaj nowy projekt</button>
        </div>
        <div id="add-project-form" style="display:none;">
            <h2>Dodaj nowy projekt</h2>
            <form id="new-project-form">
                <label for="new-project-name">Nazwa projektu:</label>
                <input type="text" id="new-project-name" name="new-project-name">
                <br>
                <label for="new-project-description">Opis projektu:</label>
                <textarea id="new-project-description" name="new-project-description"></textarea>
                <br>
                <button type="button" onclick="addProject()" class="new-project-button">Dodaj projekt</button>
                <button type="button" onclick="hideAddProjectForm()" class="new-project-button">Anuluj</button>
            </form>
        </div>
        <div class="button-container">
            <h1>Generuj usprawiedliwienia</h1>
            <form action="{{ url_for('generate_docx') }}" method="get">
                <input type="submit" value="Generuj">
            </form>
        </div>
        </div>
    </div>
</body>
<footer>
    <a href="https://github.com/ppjotrek" class="footer-link">From ppjotrek with 💜</a>
</footer>
</html>