<!doctype html>
<html>
<head>
    <title>Zarejestruj się</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="background">
    <div class="content">
        <div class="form-container">
            <h1>Zarejestruj się</h1>
            <form method="post">
                <label for="name">Imię i nazwisko:</label>
                <input type="text" name="name" required>
                <label for="email">Email (bestowy):</label>
                <input type="email" name="email" required>
                <label for="password">Hasło:</label>
                <input type="password" name="password" required>
                <label for="phone">Numer telefonu:</label>
                <input type="text" name="phone" required>
                <input type="submit" value="Register">
            </form>
            <a href="{{ url_for('login') }}">Logowanie.</a>
        </div>
    </div>
</body>
</html>